<h1 class="text-center mt-5"> Nuestros productos</h1>

<section class="listado_productos">
	<div class="row">
		{{#if productos}}
			{{#each productos}}
				{{> horizontalCard}}
			{{/each}}
		{{else}}
		<div class="container" style="width: 100%; line-height: 100px; font-size: 20px;">
			No hay productos ingresados
		</div>
		{{/if}}
	</div>
</section>